.ttl {
  font-size: 22px;
  padding-bottom: $elementPadding;
  letter-spacing: 1px;
  color: $color_black;
}

.ttl-white {
  color: $color_white;

}
.ttl-red {
  color: $color_red;
}

.ttl-UC {
  text-transform: uppercase;
}
.ttl-big {
  font-size: 28px;
  font-weight: normal;

}