.header {
  height: 250px;
  width: inherit;
  background: #000 url('img/netflix-bg.jpg')
}

@import 'container/container';
@import 'header-logo/header-logo';
@import 'header-search/header-search';
@import 'header-title/header-title';






