//App parameters
// App
$appWidth: 1150px;
$fontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;
$fontSizeDefault: 13px;

//Header

$headerContainerWidth: $appWidth - 100px;
$searchInputPaddingHorizontal: 20px;

// Summary
$summaryContainerWidth: $appWidth - 100px;

//Colors

$color_red: #f55263; // red
$color_grey: #3c3c3c; // grey


@import 'components/body/body';
@import 'components/header/index';
@import 'components/summary/index';
@import 'components/results/index';
@import 'components/footer/index';
@import 'components/common/index';
@import 'components/search/index';
