.logo{
  width: 150px;
}

.title {
  text-transform: uppercase;
  color: #FFF;
  font-size: 22px;
}

.search-type-section {
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;

}

.form-button {
  min-width: 235px;
  height: 45px;
  color: #FFF;
  font-size :18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 45px;
  text-align: center;
  background: $color_2;
  border: none;
  border-radius: 5px;


}