//App parameters

  // App
$appWidth: 1150px;
$fontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;

  //Header

$headerContainerWidth: $appWidth - 100px;


  //Colors

$color_2: #f55263; // red
$color_3: #3c3c3c; // grey




*{
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: $fontFamily;
  }

.doc-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

div.wrapper {
  width: $appWidth;
  margin: 0 auto;
  flex: 1 0 auto;
}

@import "header";
@import "summary";
@import "results";
@import "footer";
@import "common";
@import "search";