//App parameters

$appWidth: 1150px;



*{
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

.doc-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

div.wrapper {
  width: $appWidth;
  margin: 0 auto;
  flex: 1 0 auto;
}

@import "header/header";
@import "summary/summary";
@import "results/results";
@import "footer/footer";