$searchInputPaddingHorizontal: 20px;


.search-input {
  width: $headerContainerWidth - 2 * $searchInputPaddingHorizontal;
  background-color: #000;
  border: 0px;
  border-bottom: 2px solid $color_2;
  height: 45px;
  color: #EAEAEA;
  padding: 0 $searchInputPaddingHorizontal;
  font-size: 20px;
  line-height: 45px;
}

.search-type-section {


}

.search-button-section {


}

.search-radio-input {
display: none;
}

.search-radio-label {
  display: inline-block;
  line-height: 30px;
  background: $color_3;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 20px;
  margin: 0 0 0 15px;
  font-weight: normal;

}
.search-radio-input:checked + label {
  background: $color_2;

}